<h1>Welcome to Jun's Test Pairbnb!</h1>

Please sign in here:
<ul>
	<li> Sign in with <%= link_to "Facebook", "/auth/facebook" %> </li>
	<li> Sign in with <%= link_to "Onsite Logins", "/sign_in" %> </li>
</ul>

View all existing listings <%= link_to "here", "/listings" %>
<br/>
Create new listing <%= link_to "here", "/listings/new" %>